.side-nav {
    background-color: #25272e;
}

.userView .circle {
    height: 70px !important;
    width: 70px !important;
    border-radius: 50% !important;
    margin: auto;

}
a{
    color: #fff
}
.side-nav li>a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-size: 15px
}
a:hover{
    text-decoration: none
}
.side-nav .userView .name {
    margin-top: 16px;
    font-weight: 500;
    text-align: center;
}
.side-nav li>a>i.material-icons {
    color: #26a69a;
    float: left;
    height: 47px;
    line-height: 49px;
    margin: 0px 6px 0px 5px;
    width: 24px;
    font-size: 20px;
}
.side-nav {
    width: 260px;
}
.btn i{
    
    margin: auto;
    margin-left: -8px;
    font-size: 27px;
    
}
.menu-btn,.menu-btn:hover{
    width: 50px;
    margin-top: 13px;
    position: absolute;
    background-color: transparent;
    border:none;
    outline: none;
    z-index: 100;
    box-shadow: none;
}
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    border: 0;
    background: none
}
.side-nav .collapsible, .side-nav.fixed .collapsible {
    box-shadow: none;
   
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    background-color: transparent;
    color: #fff
}
.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    color: #fff;
}
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    padding-left: 15px;
}
.collapsible-header i {
    padding-left: 19px;
    color: #26a69a;
    padding-right: 15px;
    font-size: 20px;
}
.circle {
    height: 55px !important;
    width: 100px !important;
    border-radius: 0px !important;
    margin-bottom: 20px !important
}
