body{
    background: #e1e1e1
}
.count1{
    
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.count2{
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.count3{
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.count4{
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.row{
    margin: 40px auto;
  }
.row > div{
    padding: 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 1px 9px -2px
}
.row i{
    font-size: 30px;
    margin-top: 9px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.icons{
    background: #25272e;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 0;
    margin: auto;
    margin-top: 19px;
}
/*.material-icons:hover{
    transition: 0.70s;

  transform: rotate(360deg);
}*/
.info p{
    color: #000;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 0px
}
.info span{
    color: #5a5555;
    font-size: 20px;

}
.row >.dashboard-table1{
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px
}
.dash-table1{
    margin-left: 40px;
    margin-right: 40px;
   
}
@media screen and (max-width: 600px){
    .row i{
        font-size: 24px;
        margin-top: 5px;
    }
    .icons{
        width: 50px;
        height: 50px; 
    }
    .info p{
        font-size: 17px;
    }
    .info span{
        font-size: 17px;
    }
}
@media screen and (max-width: 460px){
.dash-table1{
    font-size: 10px;
}
.dash-table1{
    margin-left: 15px;
    margin-right: 15px;
}
.content{
    margin-left: 15px;
    margin-right: 15px
}
}
.content{
    margin-left: 40px;
    margin-right: 40px
}