
.MuiPaper-rounded-6{
    margin: 50px !important;
}
.controller-icon {
    cursor: pointer;
    margin: 5px !important;
    color: #26a69a !important;
    font-size: 18px;
}
.MuiTableCell-paddingCheckbox-131{
    display: none !important
}
.MUIDataTableHeadCell-data-147{
    font-size: 15px
}

.ant-skeleton-content > ul{
    display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
        }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #26a69a;
        font-weight: 500;
        font-size: 14px;
    }
    h6 {
        margin-top: 1em;
        margin-bottom: 1em;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 400;
        font-size: 12px;
    }