

.controller-icon {
    cursor: pointer;
    margin: 5px !important;
    color: #25272e !important;
    font-size: 18px;
    margin-right: 30px !important;
}
.MuiTableCell-paddingCheckbox-131{
    display: none !important
}



.MUIDataTableToolbar-root-263 {
    background-color: #25272e;
}
